.badge {
    /*padding: var(--spacing-xs) var(--spacing-sm);*/
    /*color: white;*/
    /*border-radius: var(--radius-md);*/
    /*text-align: center;*/
    color: orange;
}

.badge:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
    opacity: 0.8;
}

/*.badge.indigo:before {*/
/*    background-color: var(--primary);*/
/*}*/
