.trc-badge {
    --trc-badge-color: transparent;
    display: inline-block;
    flex: 0 0 auto;
    /* add more styles from theme -> badge */
    /* add more styles from theme -> badge -> capsule */
}

.trc-badge > .dot {
    background-color: var(--trc-badge-color);
    /* add more styles from theme -> badge -> dot */
}

.trc-badge.variant-dot {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trc-badge.variant-capsule {
    background-color: var(--trc-badge-color);
}
