.trc-container {
    --trc-container-min-width: auto;
    --trc-container-padding: auto;
    min-width: var(--trc-container-min-width);
    padding: var(--trc-container-padding);
}

.trc-container.variant-rounded {
    border-radius: var(--trc-border-radius); /* variable defined in the theme */
    overflow: hidden;
}

