.trc-container {
    --trc-container-min-width: auto;
    min-width: var(--trc-container-min-width);
}

.trc-container.variant-rounded {
    border-radius: var(--trc-border-radius); /* variable defined in the theme */
    overflow: hidden;
}

